section{
    background-color: palegoldenrod;
}

h1 {
    font-size: 90px;
    font-family: 'Pacifico', cursive;
    margin: 0px auto;
}

h2 {
    font-size: 36px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: #5488A2; 
}

p {
    font-size: 28px;
    font-family: 'Quicksand', sans-serif;
    color: #5488A2; 
    margin: 0px auto 10px 50px;
}

a {
    color: #5488A2; 
}

a:visited{
    color: #5488A2; 
}

.hero {
    background-color: palegoldenrod;
    min-height: 100vh;
    color: #5488A2; 
    font-size: 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    font-family: 'Quicksand', sans-serif;
}

.logo {

    height: 150px;
    margin: 5px;
}

.navul {
    display: flex;
    list-style-type: none;
    /* width: 600px; */
    justify-content: space-around;
}

li {
    /*width: 300px;*/
    text-decoration: wavy;
    color: #5488A2; 
}

.hero-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 90vh;
}

.hero-text {
    margin-left: 100px;
    
}

.job {
    margin: 0px auto 10px 50px;
}

.button {
    width: 200px;
    height: 60px;
    border-radius: 50px;
    background-color: hsl(285, 26%, 74%);
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 36px;
    margin: 10px;
    padding-top: 10px;

}

.button:hover {
    background-color: hsl(137, 33%, 66%);
}

.button:active {
    color: blueviolet;
}

.socials {
    /* padding-bottom: 200px;
    padding-right: 15px; */
    padding: 25px;
}

.social {
    margin-bottom: 10px;
}

/* ABOUT ME SECTION */

.about-me {
    display: flex;
    justify-content: space-between;
    /* align-content: center; */
    height: 100vh;
    flex-flow: row wrap;
}

.information {
    margin: auto 100px;
    padding-right: 50px;
    width: 500px;
}

.information > h2 {
    font-size: 55px;
    font-family: 'Pacifico', cursive;
    margin-top: auto;
}

.information > p {
    margin-bottom: 150px;
}

.headshot-container {
    display: flex;
    align-items: center;
    padding-right: 300px;
    padding-left: 100px;
}

.headshot {
    width: 300px;
    border-radius: 25px;
}

.education-container {
    margin: auto 100px;
    padding-right: 50px;
    display: flex;
    /* 
    align-items: center;
    margin-left: 100px;
    flex-basis: 100%; */
}

.education {
    font-family: 'Pacifico', cursive;
    font-size: 55px;
    
    
}

span {
    font-size: 25px;
    font-style: italic;
}

.skills-container {
    display: flex;
    align-items: center;
    margin-left: 100px;
    flex-basis: 100%;
}

.skills {
        font-family: 'Pacifico', cursive;
        font-size: 55px;
}

.aboutul {
    display: flex;
    list-style-type: circle;
    font-size: 28px;
    font-family: 'Quicksand', sans-serif;
    color: #5488A2;
    width: 100%;
    
    flex-grow: 1;
}

.aboutul > li {
    flex: 1 0 auto;
} 

.resume-container {
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    margin: auto;
}

.button-resume {
    width: 200px;
    height: 60px;
    border-radius: 40px;
    background-color: hsl(285, 26%, 74%);
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 36px;
    /* margin: 15px auto 10px 50px; */
    padding-top: 10px;

}

.button-resume:hover {
    background-color: hsl(137, 33%, 66%);
}

.button-resume:active {
    color: blueviolet;
}

.projects-container {
    display: flex;
    justify-content: space-between;
    /* align-content: center; */
    height: 90vh;
    flex-flow: row wrap;
    
}

.projects {
    margin-left: 100px;
    width: 500px;
}

footer {
    height: 500px;
    background-color: hsl(137, 33%, 66%);
}

/*
font-family: 'Pacifico', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Ubuntu', sans-serif;

*/